@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <meta charset="utf-8">
    <title>登录(Login)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- CSS -->
    <link rel="stylesheet" href="~/Contents/css/reset.css">
    <link rel="stylesheet" href="~/Contents/css/supersized.css">
    <link rel="stylesheet" href="~/Contents/css/style.css">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="page-container">
        <h1>登录(Login)</h1>
        <form action="/" method="post">
            <input type="text" id="txt_userName" name="username" class="username" placeholder="请输入您的用户名！">
            <input type="password" id="txt_pwd" name="password" class="password" placeholder="请输入您的用户密码！">           
            @*<input type="Captcha" id="txt" class="Captcha" name="Captcha" placeholder="请输入验证码！">
            <img src="" width="120" height="44" style="margin-top:20px;"  />*@
            <button type="submit" class="submit_button">登录</button>            
        </form>       
    </div>

    <!-- Javascript -->
    <script src="~/Contents/js/jquery-1.8.2.min.js"></script>
    <script src="~/Contents/js/supersized.3.2.7.min.js"></script>
    <script src="~/Contents/js/supersized-init.js"></script>
    <script src="~/Contents/js/scripts.js"></script>
</body>
</html>