
<!-- Header Start -->
<header class="header-1" id="header">
    <div class="vd_top-menu-wrapper">
        <div class="container ">
            <div class="vd_top-nav vd_nav-width  ">
                <div class="vd_panel-header">
                    <div class="logo">
                        <a href="index.html"><img alt="logo" src="~/Contents/img/logo.png"></a>
                    </div>
                    <!-- logo -->
                    <div class="vd_panel-menu  hidden-sm hidden-xs" data-intro="<strong>Minimize Left Navigation</strong><br/>Toggle navigation size to medium or small size. You can set both button or one button only. See full option at documentation." data-step=1>

                    </div>
                    <div class="vd_panel-menu left-pos visible-sm visible-xs">

                        <span class="menu" data-action="toggle-navbar-left">
                            <i class="fa fa-ellipsis-v"></i>
                        </span>


                    </div>
                    <div class="vd_panel-menu visible-sm visible-xs">
                        <span class="menu visible-xs" data-action="submenu">
                            <i class="fa fa-bars"></i>
                        </span>

                        <span class="menu visible-sm visible-xs" data-action="toggle-navbar-right">
                            <i class="fa fa-comments"></i>
                        </span>

                    </div>
                    <!-- vd_panel-menu -->
                </div>
                <!-- vd_panel-header -->

            </div>
            <div class="vd_container">
                <div class="row">
                    <div class="col-sm-5 col-xs-12">
                    </div>
                    <div class="col-sm-7 col-xs-12">
                        <div class="vd_mega-menu-wrapper">
                            <div class="vd_mega-menu pull-right">
                                <ul class="mega-ul">
                                    <li id="top-menu-profile" class="profile mega-li">
                                        <a href="#" class="mega-link" data-action="click-trigger">
                                            <span class="mega-image">
                                                <img src="~/Contents/img/avatar/avatar.jpg" alt="example image" />
                                            </span>
                                            <span class="mega-name">
                                                @ViewBag.name <i class="fa fa-caret-down fa-fw"></i>
                                            </span>
                                        </a>
                                        <div class="vd_mega-menu-content  width-xs-2  left-xs left-sm" data-action="click-target">
                                            <div class="child-menu">
                                                <div class="content-list content-menu">
                                                    <ul class="list-wrapper pd-lr-10">
                                                        @*<li> <a href="#"> <div class="menu-icon"><i class="fa fa-key"></i></div> <div class="menu-text">Lock</div> </a> </li>*@
                                                        <li> <a href="/signout"> <div class="menu-icon"><i class="fa fa-sign-out"></i></div>  <div class="menu-text">退出登录</div> </a> </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <!-- Head menu search form ends -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- container -->
    </div>
    <!-- vd_primary-menu-wrapper -->
</header>
<!-- Header Ends -->